
@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Home Page";
}
@if(TempData["message"] != null) { 
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    @TempData["message"]
</div>
}
<div class="row">
    <div class="col-xs-12 col-md-5">
        <btn class="btn btn-danger" style="width:200px;">@Html.ActionLink("Registracija", "Register", "Account", null, new { @style = "color:white" })</btn><br />
        <btn class="btn btn-danger" style="width:200px;">@Html.ActionLink("Prijava", "Login", "Account", null, new { @style = "color:white" })</btn>
    </div>
</div>
